
.ant-card-cover{
    .img-car{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15rem;
        height: 15rem;
        object-fit: contain;
    }
    
    
    @include respond-above(sm) {
    
        .img-car{
            width: 100%;
        }
    }
}
